.search-panel {
  padding-bottom: 15px;
}

.floatRight {
  float: right;
  position: relative;
  margin-top: 15%;
  padding: 1px 6px;
  background: #f4f5f7;
}

.custom-btn .fa-ellipsis-h {
  font-size: 1.5rem !important;
}

.custom-btn:hover {
  background: #eaeaea;
}

